body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

h1 {
    font-size: xx-large;
    font-family: cursive;
    color: rgb(43, 172, 101);
}

h2 {
    font-size: x-large;
    font-family: cursive;
    font-weight: 700;
    color: darkblue;
}

.half-width {
    width: 35%;
    float: left;
    margin: 2%;
    padding: 5%;
}

.half-width img {
    width: 100%;
}

section {
    height: 700px;
    border: 7px solid darkcyan;
}

#header-bg {
    background-image: url("personal-website(images)\header-bg.png");
    background-repeat: no-repeat;
}

#biography-bg {
    background-image: url("personal-website(images)\biography-bg.png");
}

#text-block {
    margin-top: 110px;
}

#text-block2 {
    margin-top: 175px;
}

h3 {
    font-size: xx-large;
    color: darkblue;
    font-family: cursive;
}

#centering-line {
    text-align: center;
}

.one--third-width {
    width: 25%;
    float: left;
    margin: 2%;
    padding: 2%;
}

.one--third-width img {
    width: 100%;
    box-shadow: 10px 10px 40px rgb(85, 85, 138);
    margin-top: 65px;
    border-left: 7px solid darkblue;
}

#latest-work-bg {
    background-image: url("personal-website(images)\latest-work-bg.png");
}

#footer-bg {
    background-image: url("personal-website(images)\footer-bg.png");
}

#centering {
    text-align: center;
    text-align: justify;
}

#skills-bg {
    background-image: url("personal-website(images)\latest-work-bg.png");
}

#text-block3 {
    margin-top: 110px;
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(25, 131, 73), mediumseagreen, mediumspringgreen);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(26, 26, 122), rgb(53, 53, 139), rgb(111, 111, 158));
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.last-block {
    font-size: larger;
    color: white;
    border-radius: 40px;
    padding: 20px 30px;
    background-image: linear-gradient(45deg, rgb(53, 53, 139), rgb(25, 131, 73), mediumseagreen, mediumspringgreen);
}